//Ending

.ending {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .end a {
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
    color: rgb(29, 161, 242);
  }
  .end p {
    font-size: 0.7em;
    padding-top: 10px;
  }
  .icons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    width: 20px;
    height: 20px;
  }